In [5]:
import os
from dotenv import load_dotenv

# Загрузка переменных окружения из файла .params.env
load_dotenv(dotenv_path='envs/.params.env')

# Чтение констант
train_data_url = os.getenv('TRAIN_DATA_URL')
test_data_url = os.getenv('TEST_DATA_URL')
test_size = float(os.getenv('TEST_SIZE', 0.2))  
epochs = int(os.getenv('EPOCHS', 10))  
model_param_1 = float(os.getenv('MODEL_PARAMETR_1', 0.001))

print(f"Train Data URL: {train_data_url}")
print(f"Test Data URL: {test_data_url}")
print(f"Test Size: {test_size}")
print(f"Epochs: {epochs}")
print(f"Model Parameter 1: {model_param_1}")

Train Data URL: https://storage.googleapis.com/tf-datasets/titanic/train.csv
Test Data URL: https://storage.googleapis.com/tf-datasets/titanic/eval.csv
Test Size: 0.2
Epochs: 10
Model Parameter 1: 0.001

В этом задании необходимо решить задачу классификации и регрессии с помощью фреймоврка `pytorch`

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [59]:
# Загрузка данных
train_data = pd.read_csv(train_data_url)
test_data = pd.read_csv(test_data_url)

In [60]:
train_data.head(10)

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
5,0,male,2.0,3,1,21.0750,Third,unknown,Southampton,n
6,1,female,27.0,0,2,11.1333,Third,unknown,Southampton,n
7,1,female,14.0,1,0,30.0708,Second,unknown,Cherbourg,n
8,1,female,4.0,1,1,16.7000,Third,G,Southampton,n
9,0,male,20.0,0,0,8.0500,Third,unknown,Southampton,y

In [61]:
def preprocess_data(df):
    df = df.drop(['deck'], axis=1)
    df['sex'] = df['sex'].map({'male': 0, 'female': 1})  # Преобразуем категориальные признаки
    df['class'] = df['class'].map({'First': 0, 'Second': 1, 'Third':2})
    df['embark_town'] = df['embark_town'].map({'Cherbourg': 0, 'Queenstown': 1, 'Southampton': 2, })  # Преобразуем категориальные признаки
    df['alone'] = df['alone'].map({'n': 0, 'y': 1})
    return df

In [62]:
train_data = preprocess_data(train_data)
test_data = preprocess_data(test_data)

X_train = train_data.drop('survived', axis=1)
y_train = train_data['survived']
X_test = test_data.drop('survived', axis=1)
y_test = test_data['survived']

In [66]:
X_train.head(10)

   sex   age  n_siblings_spouses  parch     fare  class  embark_town  alone
0    0  22.0                   1      0   7.2500      2          2.0      0
1    1  38.0                   1      0  71.2833      0          0.0      0
2    1  26.0                   0      0   7.9250      2          2.0      1
3    1  35.0                   1      0  53.1000      0          2.0      0
4    0  28.0                   0      0   8.4583      2          1.0      1
5    0   2.0                   3      1  21.0750      2          2.0      0
6    1  27.0                   0      2  11.1333      2          2.0      0
7    1  14.0                   1      0  30.0708      1          0.0      0
8    1   4.0                   1      1  16.7000      2          2.0      0
9    0  20.0                   0      0   8.0500      2          2.0      1

In [67]:
X_train = X_train.fillna(X_train.median())
X_test = X_test.fillna(X_test.median())

Logistic Regression

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model_1 = LogisticRegression(max_iter=epochs)

model_1.fit(X_train, y_train)

y_pred_1 = model_1.predict(X_test)
accuracy_1 = accuracy_score(y_test, y_pred_1)

print(f"Model 1 Accuracy: {accuracy_1}")

Model 1 Accuracy: 0.7045454545454546

c:\Users\50we\Desktop\ml_project\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [74]:
from sklearn.ensemble import RandomForestClassifier

# Создаем модель
model_2 = RandomForestClassifier(n_estimators=100)

# Обучаем модель
model_2.fit(X_train, y_train)

# Тестируем модель
y_pred_2 = model_2.predict(X_test)
accuracy_2 = accuracy_score(y_test, y_pred_2)

print(f"Model 2 Accuracy: {accuracy_2}")

Model 2 Accuracy: 0.821969696969697

Результаты

In [75]:
print(f"Logistic Regression Accuracy: {accuracy_1}")
print(f"Random Forest Accuracy: {accuracy_2}")

Logistic Regression Accuracy: 0.7045454545454546
Random Forest Accuracy: 0.821969696969697